<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.7" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40" />
  <package id="Microsoft.Net.Compilers" version="3.3.0-beta1-final" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.Net.Http" version="2.1.10" targetFramework="net40" />
</packages>